:root {
    --theme-color-green: #84cac1;
    --theme-color-green-60: #84CAC299;
    --theme-color-green-40: #84CAC266;
    --theme-color-gray: #edf1f0;
    --theme-color-pink-high: #e30b60;
    --theme-color-pink-medium: #e14065;
    --theme-color-pink-low: #dd979e;
    --font-color-gray-low: #00000066; 

    /* Kollectik */
    @font-face {
        font-family: "Kollectif";
        src:
          local("Kollectif"),
          url("fonts\\Kollektif.ttf") format("TrueType");
    }

    @font-face {
        font-family: "Kollectif";
        src:
          local("Kollectif"),
          url("fonts\\Kollektif-Bold.ttf") format("TrueType");
        font-weight: bold;
    }

    @font-face {
        font-family: "Kollectif";
        src:
          local("Kollectif"),
          url("fonts\\Kollektif-Italic.ttf") format("TrueType");
        font-style: italic;
    }

    @font-face {
        font-family: "Kollectif";
        src:
          local("Kollectif"),
          url("fonts\\Kollektif-BoldItalic.ttf") format("TrueType");
        font-weight: bold;
        font-style: italic;
    }
    /* End - Kollectik */

    /* Roboto */
    @font-face {
        font-family: "Roboto Bk";
        src:
          local("Roboto Bk"),
          url("fonts\\Roboto-Black.ttf") format("TrueType");
    }

    @font-face {
        font-family: "Roboto Bk";
        src:
          local("Roboto Bk"),
          url("assets\fonts\Roboto-BlackItalic.ttf") format("TrueType");
        font-style: italic;
    }

    @font-face {
        font-family: "Roboto";
        src:
          local("Roboto"),
          url("fonts\\Roboto-Bold.ttf") format("TrueType");
        font-weight: bold;
    }

    @font-face {
        font-family: "Roboto";
        src:
          local("Roboto"),
          url("fonts\\Roboto-Italic.ttf") format("TrueType");
        font-style: italic;
    }

    @font-face {
        font-family: "Roboto";
        src:
          local("Roboto"),
          url("fonts\\Roboto-BoldItalic.ttf") format("TrueType");
        font-weight: bold;
        font-style: italic;
    }

    @font-face {
        font-family: "Roboto";
        src:
          local("Roboto"),
          url("fonts\\Roboto-Thin.ttf") format("TrueType");
        font-weight: 100;
    }

    @font-face {
        font-family: "Roboto";
        src:
          local("Roboto"),
          url("fonts\\Roboto-ThinItalic.ttf") format("TrueType");
        font-weight: 100;
        font-style: italic;
    }

    @font-face {
        font-family: "Roboto";
        src:
          local("Roboto"),
          url("fonts\\Roboto-Light.ttf") format("TrueType");
        font-weight: 300;
    }

    @font-face {
        font-family: "Roboto";
        src:
          local("Roboto"),
          url("fonts\\Roboto-LightItalic.ttf") format("TrueType");
        font-weight: 300;
        font-style: italic;
    }

    @font-face {
        font-family: "Roboto";
        src:
          local("Roboto"),
          url("fonts\\Roboto-Regular.ttf") format("TrueType");
        font-weight: 400;
    }

    @font-face {
        font-family: "Roboto";
        src:
          local("Roboto"),
          url("fonts\\Roboto-Medium.ttf") format("TrueType");
        font-weight: 500;
    }

    @font-face {
        font-family: "Roboto";
        src:
          local("Roboto"),
          url("fonts\\Roboto-MediumItalic.ttf") format("TrueType");
        font-weight: 500;
        font-style: italic;
    }

    @font-face {
        font-family: "Roboto Cn";
        src:
          local("Roboto Cn"),
          url("fonts\\Roboto-Condensed.ttf") format("TrueType");
    }

    @font-face {
        font-family: "Roboto Cn";
        src:
          local("Roboto Cn"),
          url("fonts\\Roboto-BoldCondensed.ttf") format("TrueType");
        font-weight: bold;
    }

    @font-face {
        font-family: "Roboto Cn";
        src:
          local("Roboto Cn"),
          url("fonts\\Roboto-CondensedItalic.ttf") format("TrueType");
        font-style: italic;
    }

    @font-face {
        font-family: "Roboto Cn";
        src:
          local("Roboto Cn"),
          url("fonts\\Roboto-BoldCondensedItalic.ttf") format("TrueType");
        font-weight: bold;
        font-style: italic;
    }
    /* End - Roboto */

    .color-green {
        color: var(--theme-color-green);
    }

    .color-pink-high {
        color: var(--theme-color-pink-high);
    }

    p {
        padding: 0;
        margin: 0;
        white-space: pre;
    }

}

.row {
    display: flex;
    flex-direction: row;
    flex: 1;

    &.center {
        justify-content: center;
    }

    &.middle {
        align-items: center;
    }

    &.top {
        align-items: flex-start;
    }
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;

    &.center {
        align-items: center;
    }

    &.no-content {
        align-self: center;
    }
}

.row, .column {
    &.gap10 {
        gap: 10px;
    }
    
    &.gap20 {
        gap: 20px;
    }
}

h1 {
    position: absolute;
    margin-top: -1000px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

body {
    padding: 0;
    margin: 0;
    border-top: 3px solid var(--theme-color-green);
    font-family: Roboto, "Roboto";
    font-size: 10px;
    
    a {
        text-decoration: none;
        color: inherit;
    }
}

* {
    box-sizing: border-box;
}

.header {
    margin-top: 30px;
    font-family: "Kollectif";
    font-size: 25px;

    @media screen and (max-width: 304px) {
        font-size: 20px;
    }

    .trigger {
        gap: 10px;
        
        a {
            line-height: 30px;
            text-decoration: none;
            color: inherit;
        }
    }

    span {
        line-height: 40px;
        text-decoration: none;
        color: inherit;
    }

    .wrapper {
        align-items: center;
    }

    .catch-phrase {
        font-style: italic;
        flex: 2;
        display: flex;
        justify-content: flex-end;

        .text-wrapper {
            width: 180px;

            @media screen and (max-width: 499px) {
                margin-left: 1rem;
            }

            @media screen and (max-width: 304px) {
                width: 140px;
            }
        }
    }

    .site-title {
        flex: 3;
        display: flex;
        justify-content: center;

        img {
            width: 250px;
            @media screen and (max-width: 444px) {
                width: 100%;
            }
        }
    }

    .site-nav {
        flex: 2;

        .healing {
            padding-left: 50px;
        }
        @media screen and (max-width: 600px) {
            z-index: 2;
        }
    }

    @media screen and (max-width: 600px) {
        .site-nav input:checked ~ .trigger {
            display: flex;
            padding-bottom: 5px;
        }
    }

    .header-separator {
        display: flex;
        margin-bottom: -3px;
        z-index: 1;
        height: 70px;
        background: url(images/header-separator.png);
        background-size: contain;
        background-position-x: center;
        margin: 0 3rem;
        background-repeat: repeat-x;
        @media screen and (max-width: 444px) {
            margin: 0;
        }
        @media screen and (max-width: 379px) {
            height: 50px;
        }
    }
}

main.container {
    padding: 0;
    font-size: 16px;

    section:not(.extended) {
        padding: 0 50px;
    }

    img.nurse {
        width: 300px;
        transform: rotateY(180deg);
        
        @media screen and (max-width: 730px) {
            width: 100%;
        }
    }
    .icon {
        max-width: 50px;
    }

    .title {
        font-weight: bold;
    }

    .info {
        font-size: 18px;
        @media screen and (max-width: 529px) {
            font-size: 16px;
        }
        @media screen and (max-width: 304px) {
            font-size: 13px;
        }
        font-family: Roboto, "Roboto";
        &> .column:nth-child(1) {
            align-items: flex-end;
            padding-right: 2rem;
            @media screen and (max-width: 730px) {
                align-self: center;
            }
            
            @media screen and (max-width: 600px) {
                display: none;
            }
        }
        &> .column:nth-child(2) {
            align-items: flex-start;
            padding-left: 2rem;
            @media screen and (max-width: 600px) {
                flex: 0;
            }
        }
    }

    .separator {
        margin-top: 2rem;
        img {
            height: 70px;
        }
    }

    .section-title h2 {
        font-size: 1.8rem;
        font-family: "Kollectif";
        font-weight: normal;
    }

    .button {
        background: var(--theme-color-green-60);
        padding: 0.7rem 4rem;
        border-radius: 1.2rem;
        width: fit-content;
        display: flex;
        align-items: center;
        text-align: center;

        @media screen and (max-width: 449px) {
            padding: 0.7rem 2rem;
        }

        &.meet {
            font-weight: bold;
            .row:nth-child(2) {
                font-size: 1.6rem;
                @media screen and (max-width: 449px) {
                    font-size: 1.4rem;
                }
            }
        }
    }

    section.team {
        .wrapper {
            position: relative;
            flex-flow: wrap;
            @media screen and (max-width: 899px) {
                gap: 25px;
                div.column.Marion, div.column.Pauline {
                    margin: 0;
                }
            }
            .column {
                position: relative;
                width: 400px;
                flex: unset;
                padding: 20px 70px 20px;
                @media screen and (max-width: 374px) {
                    padding: 20px 40px 20px;
                }
                @media screen and (max-width: 319px) {
                    padding: 20px 20px 20px;
                }

                h3, h4 {
                    margin: 0;
                    padding: 0;
                    font-family: "Kollectif";
                    font-weight: normal;
                }

                h3 {
                    line-height: 30px;
                    font-size: 20px;
                    mix-blend-mode: color;
                }

                h4 {
                    line-height: 30px;
                    font-size: 16px;
                    font-style: italic;
                    margin-bottom: 20px
                }

                p {
                    text-wrap: pretty;
                    text-align: justify;
                    font-size: 15px;
                }

                
                &::before {
                    content: "";
                    position: absolute;
                    inset: 0;
                    opacity: 0.2;
                }

                &.Caroline {
                    &::before {
                        background: var(--theme-color-green);
                    }
                    h3 {
                        color: var(--theme-color-pink-low);
                    }
                }
                &.Marion {
                    &::before {
                        background: var(--theme-color-pink-low);
                    }
                    h3, h4 {
                        width: 8rem;
                    }
                    h3 {
                        color: var(--theme-color-green);
                    }
                    margin-top: 25px;
                    align-items: flex-end;
                }
                &.Pauline {
                    &::before {
                        background: var(--theme-color-pink-medium);
                    }
                    h3, h4 {
                        width: 8rem;
                    }
                    h3 {
                        color: var(--theme-color-green);
                    }
                    margin-bottom: 25px;
                    align-items: flex-end;
                }
                &.Johanna {
                    &::before {
                        background: var(--theme-color-green);
                    }
                    h3 {
                        color: var(--theme-color-pink-high);
                    }
                }
            }

            .wrapper-center {
                position: absolute;
                top: 47%;
                transform: translateY(-50%);
                img {
                    height: 15rem;
                    filter: drop-shadow(1px 1px 0 #00000060) drop-shadow(-1px -1px 0 #00000060);
                }

                @media screen and (max-width: 899px) {
                    display: none;
                }
            }
        }
    }

    section.healing {
        overflow: hidden;

        .clip {
            position: relative;
            margin-bottom: 3rem;    

            img {
                height: 6rem;
            }
            &-left {
                position: absolute;
                left: -4rem;
                top: -3rem;
                transform: rotate(20deg);
            }
            &-right {
                position: absolute;
                right: -3rem;
                bottom: -4rem;
            }

            .row {
                line-height: 2rem;

                &:nth-child(1) {
                    font-weight: bold;
                }
            }
        }

        .clip2 {
            position: relative;
            padding: 3rem 3rem 1rem;
            
            @media screen and (max-width: 319px) {
                padding: 3rem 1rem 1rem;
            }

            img {
                height: 6rem;
            }
            &-top-left {
                img {
                    height: 4rem;
                }
                position: absolute;
                left: -2rem;
                top: 0.5rem;
            }
            &-left {
                img {
                    height: 8rem;
                }
                position: absolute;
                left: -6rem;
                top: 12rem;
                transform: rotate(320deg);
            }
            &-top-right {
                position: absolute;
                right: -3rem;
                top: 4rem;
                @media screen and (max-width: 389px) {
                    right: -4.5rem;
                }
                @media screen and (max-width: 319px) {
                    right: -6rem;
                }
            }
            &-right {
                img {
                    height: 4rem;
                }
                position: absolute;
                right: 8rem;
                top: 10rem;
                transform: rotate(13deg);
                @media screen and (max-width: 630px) {
                    right: calc(-15rem + 69%);
                    top: calc(-15rem + 57%);
                }
            }
            &-bottom-right {
                position: absolute;
                right: 1rem;
                bottom: 11rem;
                @media screen and (max-width: 669px) {
                    bottom: 35%;
                    right: calc(-13rem + 39%);
                }
            }

            .row {
                line-height: 2rem;

                &:nth-child(1) {
                    font-weight: bold;
                }
            }

            ul {
                padding-inline-start: 2rem;

                li::marker {
                    color: #00000060;
                }
            }
        }

        .top20 {
            margin-top: 2rem;
        }
    }

    section.opening {
        .separator {
            margin-bottom: 1rem;
        }
        .opening-wrapper {
            height: 13.5rem;
        }
        .opening-container {
            &::before {
                content: "";
                position: absolute;
                inset: 0;
                opacity: 0.2;
                background: var(--theme-color-pink-low);
            }
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            left: 0;
            right: 0;
            padding: 1rem 0 3rem;

            h2 {
                color: var(--theme-color-pink-high);
            }

            .column.center {
                h3 {
                    margin: 0 0 0.3rem;
                }
                h3, p {
                    line-height: 1.5rem;
                }
            }
        }
    }

    section.legals {
        .row.update {
            justify-content: flex-end;
            color: var(--font-color-gray-low);
            margin: 1rem 0 3rem;
            width: 100%;
        }
        p {
            text-align: justify;
            text-wrap: pretty;
        }
        .column.button {
            h3 {
                margin: 0;
            }
            margin-top: 3rem;
            width: 40%;
            text-align: center;
            @media screen and (max-width: 939px) {
                width: unset;
                max-width: 400px;
            }
        }
        padding-bottom: 3rem;
    }
}

.container.footer {
    max-width: unset;
    padding: 3rem;
    background: var(--theme-color-green-40);

    &> .row {
        align-items: center;
        font-size: 0.8rem;
        line-height: 1.2rem;
        
        @media screen and (max-width: 529px) {
            justify-content: space-between;
        }
        @media screen and (max-width: 409px) {
            flex-flow: wrap;
            gap: 1rem;
        }
        
        .left {
            align-items: flex-end;
            text-align: right;

            .column {
                margin-top: 1.2rem
            }
        }

        .site-title {
            width: 20rem;
            display: flex;
            justify-content: center;
            img {
                width: 10rem;
                @media screen and (max-width: 529px) {
                    display: none;
                }
            }
        }

        .right {
            align-items: flex-start;
            text-align: left;

            .column {
                margin-top: 1.2rem
            }
        }

        h3 {
            margin: 0;
        }

        .row.bold {
            font-weight: bold;
        }
    }
}

.floating-to-top {
    width: 3rem;
    height: 3rem;
    background: var(--theme-color-gray);
    position: fixed;
    top: 4rem;
    right: 1rem;
    display: block;
    border-radius: 1.2rem;

    a {
        position: absolute;
        inset: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 32px;
            height: 32px;
        }
    }
}