<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    <header class="site-header" role="banner">
      <div class="wrapper">
        <div class="catch-phrase">
          {%- for catch in page.catchPhrase -%}
            {%- case forloop.index0 -%}
              {%- when 0, 2, 4 -%}
                <span>{{ catch }}</span>
              {%- when 1 -%}
                <span class="color-green">{{ catch }}</span>
              {%- when 3 -%}
                <span class="color-pink-high">{{ catch }}</span>
            {%- endcase -%}
          {%- endfor -%}
        </div>

        <a class="site-title" rel="author" href="{{ "/" | relative_url }}">
          <img src="{{page.logo}}" alt="{{ site.title | escape }}" title="{{ site.title | escape }}"/>
        </a>
    
        <nav class="site-nav">
          {%- for menuItem in page.menu.items -%}
            <a>{{ page.menu[menuItem] }}</a>
          {%- endfor -%}
        </nav>
      </div>
      <div>
        <img src="{{page.separators.header}}" alt="separateur" title="separateur"/>
      </div>
    </header>

    <main class="page-content" aria-label="Content">
      <section class="info row">
        <div class="column"></div>
        <div class="column">
          {%- for infoItem in page.info.items -%}
            <div class="row">
              <div class="column">
                <img src="{{page.info[infoItem].logo}}" alt="{{page.info[infoItem].title}}" title="{{page.info[infoItem].title}}"/>
              </div>
              <div class="column">
                <div class="row title">{{page.info[infoItem].title}}</div>
                {%- if page.info[infoItem].content -%}
                <div class="row"><p>{{page.info[infoItem].content}}</p></div>
                {%- endif -%}
              </div>
            </div>
          {%- endfor -%}
          </div>
        </div>
      </section>
      <section class="team">
        
      </section>
      <section class="healing">
        
      </section>
      <section class="opening">
        
      </section>
      <section class="legals">
        
      </section>
    </main>

    <footer class="site-footer h-card">
      <data class="u-url" href="{{ "/" | relative_url }}"></data>
    
      <div class="wrapper">
    
        <h2 class="footer-heading">{{ site.title | escape }}</h2>
    
        <div class="footer-col-wrapper">
          <div class="footer-col footer-col-1">
            <ul class="contact-list">
              <li class="p-name">
                {%- if site.author -%}
                  {{ site.author | escape }}
                {%- else -%}
                  {{ site.title | escape }}
                {%- endif -%}
                </li>
                {%- if site.email -%}
                <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
                {%- endif -%}
            </ul>
          </div>
    
          <div class="footer-col footer-col-2">
            {%- include social.html -%}
          </div>
    
          <div class="footer-col footer-col-3">
            <p>{{- site.description | escape -}}</p>
          </div>
        </div>
    
      </div>
    </footer>

  </body>

</html>
